@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
nav { 
background-image:url(back.jpg);
background-size: cover;
background-position: center;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
 }

 nav img { height: 150px;
width: 100px;
border-radius: 50%;
  }

ul { 
display: flex;
	justify-content: flex-end;
 align-items: center;
 list-style-type:none ;
 font-family: "Patrick Hand";
 }

 ul li a { 

 margin: 20px;
 padding: 20px;
 text-decoration: none;
 color: black; 
background-color: white;
border-radius: 10px;}

ul li a:hover { 
background-color: gray;
color: white; }
body { margin: 0px; }