@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=The+Nautigal:wght@700&display=swap');


body  { margin: 0; 
}
header {

	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("electronics1.jpg");
	background-size: cover;
	background-position: center;

}

header h1 { 
padding: 30px;
background-color: rgb(255, 255, 255, 0.6);
border-radius: 20px; }
 
main {  padding: 100px;
 background: linear-gradient(90deg, rgba(20,92,34,1) 0%, rgba(43,15,157,1) 100%);}

  main p { column-count: 2;
  color: white; 
font-family: "Bebas Neue";}


  footer {

  	display: flex;
  	justify-content: space-evenly;
  	align-items: center;
  	height: 400px;
  	background-image: url(electronics.jpg);
  	background-size: cover;
  	background-position: center;

  }
  footer p { 
padding: 30px;
background-color: rgb(255, 255, 255, 0.6);
border-radius: 20px;
font-family: "the Nautigal"; }

#schaltung { 
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: lightseagreen;

 }

 #schaltung ul li {
 	padding: 20px;
 	margin: 30px;
 	background-color: lightgoldenrodyellow;
 }