
.a {background: linear-gradient(90deg, rgba(34,108,186,1) 0%, rgba(113,202,228,1) 15%, rgba(144,159,154,1) 50%, rgba(48,255,0,1) 71%, rgba(255,190,24,1) 100%);

}
.b { background: linear-gradient(180deg, rgba(224,224,224,1) 0%, rgba(48,255,0,1) 100%); }

.c{
  background-image: radial-gradient(red, yellow, green);
}