h1 { text-align: center;
	background-color: blue;
	color: white;


}
body {
	 background-color: lightgreen; 

}
p {
	background-color: red ;

}

ol { 
  border: 2px solid black;

  border-radius: 20px;


  background-color: lightpink; 

   }